footer.footer-container {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 600;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
}