<nav class="navbar">
    <div class="logo-container">
        <h1>Portfolio</h1>
    </div>
    <ul class="nav-links">
        <li class="nav-item">
            <a href="#" class="nav-link">home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">portfolio</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">about</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span style="color:yellowgreen">
                    <small>
                        <i>
                            {{ notificationNumber }}
                        </i>
                    </small>
                </span>
                Notification
            </a>
        </li>
    </ul>
</nav>