<section class="auth-container">
    <form class="form">
        <!-- <input type="text" (change)="getUsername($event)" class="form-controls" placeholder="Username">
        <span>{{ username }}</span>
        <input type="email" (change)="getEmail($event)" class="form-controls" placeholder="Email">
        <span>{{ email }}</span>
        <input type="password" (change)="getPassword($event)" class="form-controls" placeholder="Password">
        <span>{{ password }}</span> -->

        <input type="text" name="username" [(ngModel)]="username" class="form-controls" placeholder="Username">
        <span>{{ username }}</span>
        <input type="email" name="email" [(ngModel)]="email" class="form-controls" placeholder="Email">
        <span>{{ email }}</span>
        <input type="password" name="password" [(ngModel)]="password" class="form-controls" placeholder="Password">
        <span>{{ password }}</span>

        <button type="button" class="submit-btn" (click)="register($event)">
            Register
        </button>
    </form>
</section>