.action-btns {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 1rem;
        padding: 1rem;
        border: none;
        background-image: linear-gradient(to bottom right, rgba(24, 123, 255), rgba(255, 23, 56));
        color: white;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        transition: all ease-in-out;
    }

    a:hover {
        font-size: 1.2rem;
    }
}