section.app-content {
    height: 80vh;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('../assets/images/bg-image.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}



section.footer {
    position: relative;
    max-height: 20vh;
}