<section class="app-content">
    <section class="head-section">
        <!-- <app-navbar (undoRedo)="consumerForUndoRedo($event)" [registeredUser]="user"></app-navbar> -->
        <app-navbar></app-navbar>
    </section>

    <section class="main">
        <!-- <app-main [stateValue]="userState" (registerSuccess)="consumerForRegisterSuccess($event)"></app-main> -->
        <router-outlet></router-outlet>
    </section>

    <section class="footer">
        <app-footer></app-footer>
    </section>
</section>